<table border="1">
	<thead>
		<tr>
			<th>Name</th><th>Father's Name</th><th>Email</th><th>Address</th><th>Gender</th><th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td> <%= user.user_detail.name %> </td>
				<td> <%= user.user_detail.fathers_name %> </td>
				<td> <%= user.email %></td>
				<td> <%= user.user_detail.address %> </td>
				<td> <% if user.user_detail.gender %> 
							<%= 'Male' %>
					<% else %>
						<%= 'Female' %>
					<% end %>
				</td>
				<td> <%= link_to( "show", :controller => "users", :action => "show", :id => user.id) %>
				     <%= link_to( "view history", :controller => "histories", :action => "show", :id => user.user_detail.id) %>
		        </td>
			</tr>
		<% end %>
	</tbody>
</table>