<h2> Welcome To Beryl Systems </h2>
<br>
<br>
<table>
	<tr>
		<td>
			<h3> WelCome <%= current_user.user_detail.name.capitalize %></h3>
		</td>
	</tr>
	<tr>
		<td>
			<table border="1">
				<tr>
					<th> DATE </th><th> IN </th><th> OUT</th>
				</tr>
				<tr>
					<td>
						<%= text_field_tag 'date', @date , disabled: :true %>
					</td>
					<td>
						<%= form_tag punch_path do %><%= time_select 'in', 'in_time', {ampm: true, default: {hour: Time.now.hour , min: Time.now.min} }%><%= submit_tag 'Done' %><% end %>
					</td>
					<td>
						<%= form_tag punch_path do %><%= time_select 'out', 'out_time', {ampm: true, default: {hour: Time.now.hour , minutes: Time.now.min}} %><%= submit_tag 'Done' %><% end %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to( "show previous history", :controller => "histories", :action => "show", :id => current_user.user_detail.id) %>
		</td>
	</tr>
</table>