<table border="2">
	<tr>
		<th> Name </th> <td> <%= @user.user_detail.name %> </td>
	</tr>
	<tr>
		<th> Father's Name </th><td> <%= @user.user_detail.fathers_name %> </td>
	</tr>
	<tr>
		<th> Email </th><td> <%= @user.email %></td>
	</tr>
	<tr>
		<th> Address </th><td> <%= @user.user_detail.address %> </td>
	</tr>
	<tr>
		<th> Gender </th><td> <%if @user.user_detail.gender %> 
									<%= 'Male' %>
								<% else %>
									<%= 'Female' %>
								<% end %>	
						 </td>
	</tr>
	<tr>
		<th> Contact Number :</th>
		<td><%= @user.user_detail.contact_number %></td>
	</tr>
	<tr>
		<th> Emergency Contact No. :</th>
		<td><%= @user.user_detail.emergency_contact_number %></td>
	</tr>
	<tr>
		<th> Date of Joining :</th>
		<td><%= @user.user_detail.date_of_joining %></td>
	</tr>
	<tr>
		<td colspan="2"> <%= link_to "back to home", users_path %> </td>
	</tr>
</table>	
			